.ms_h1{
    color: #0d6e2a;
    text-align: center;
    font-size: 2.5em;
}

.ms_img{
   margin: 10px auto;
   text-align:center;
   display:block;
}

/*per evitare di visualizzare i contenuti prima che si carichi lo script di vue*/
[v-cloak] {
    display: none;
}